[submodule "apps/cms"]
	path = apps/cms
	url = https://github.com/Heiso-admin/nbee-cms.git
	branch = main
[submodule "packages/hive"]
	path = packages/hive
	url = https://github.com/Heiso-admin/Hive.git
	branch = main
[submodule "apps/hp"]
	path = apps/hp
	url = https://github.com/Heiso-admin/heiso-hp.git
